
<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">

{{!-- Creates the Top Part//Header --}}

      <h1 id="mainheader">{{msg}}</h1>
  {{!-- Area for the search --}}

  <div class="container">
        <h2 id="header">Search for a Name!</h2>
        <form class="clearfix mb-4" action="POST">
          <div class="form-group">
            <label for="example-text" id="changetext">Name</label>
            <input type="text" id="changetext" class="form-control" aria-describedby="example-text" placeholder="Enter Name">
          </div>

          <button id="submit" class="waves-effect waves-light btn">Submit <i class="material-icons right">send</i></button>
  </div>
        {{!-- Div for popular names --}}
        <div class="container" id="popular">
        <h3 id="header">Most Recently Searched:</h3>
        <ul id="recent" class="list-group">
          {{#each name}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="name/{{this.id}}">{{this.name}}</a>
            <a class="btn-floating btn-small waves-effect waves-light red float-right"><i class="material-icons">delete</i></a>

          </li>
          {{/each}}
        </ul>
        </div>


      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="/js/index.js"></script>
